<h2>Create New Place</h2>

<form>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name" data-ng-model="controller.place.name">
  </div>
  <div class="form-group">
    <label for="name">Address:</label>
    <input type="text" class="form-control" id="address" placeholder="Enter address" data-ng-model="controller.place.address">
  </div>
  <div class="form-group">
    <label for="name">Address 2:</label>
    <input type="text" class="form-control" id="address2" placeholder="Enter address line 2" data-ng-model="controller.place.address2">
  </div>
  <div class="form-group">
    <label for="name">City:</label>
    <input type="text" class="form-control" id="city" placeholder="Enter city" data-ng-model="controller.place.city">
  </div>
  <div class="form-group">
    <label for="name">State:</label>
    <input type="text" class="form-control" id="state" placeholder="Enter state" data-ng-model="controller.place.state">
  </div>
  <div class="form-group">
    <label for="name">Postal Code:</label>
    <input type="text" class="form-control" id="postalCode" placeholder="Enter postal code" data-ng-model="controller.place.postalCode">
  </div>
  <button type="button" class="btn btn-default" data-ng-click="controller.save()">Save</button>
</form>
