<?php

return array(
    'doctrine' => array(
        'params' => array(
            'driver' => 'pdo_pgsql',
            'host' => '',
            'dbname' => '',
            'user' => '',
            'password' => ''
        ),
        'mappings' => array(
            realpath(__DIR__ . '/../../../Persistence/mappings')
        )
    )
);
